.table {
  width: 100%;
  display: table;
}

.table-header {
  display: table-header-group;
  background-color: rgb(250, 226, 249);
  font-weight: bold;
  font-size: 20px;
}

.table-body {
  display: table-row-group;
}

.table-row {
  display: table-row;
  font-size: 18px;
}

.table-row > *,
.table-header > * {
  display: table-cell;
  padding: 10px;
  text-align: justify;
}

.red {
  background-color: rgb(244, 129, 129);
}

.yellow {
  background-color: rgb(244, 230, 140);
}

.green {
  background-color: rgb(105, 164, 105);
}
